// 表单部分
@cell-font-size: 16px;
@cell-vertical-padding: 20px;
@cell-horizontal-padding: 40px;
@field-icon-size: 17px;
@field-label-margin-right: 25px;
@button-info-background-color: #4141ef;
@button-info-color: #e7e7f9;
@button-normal-font-size: 18px;

// 头部标题部分
@nav-bar-arrow-size: 30px;
@nav-bar-icon-color: #5511e8;
@nav-bar-background-color:#7373ec;
@nav-bar-title-text-color: #e7e7f9;
@nav-bar-title-font-size: 20px;

// 个人资料退出部分
@button-danger-background-color: #f25e88;
@button-danger-border-color: #ffffff;
@button-border-radius: 6px;
@button-danger-color: #f3eff0;